{% extends 'base.html' %}

{% block content_nav %}      
{% load static %}

<head>
       <!-- Title Page-->
       <title>Dashboard</title>
</head>

<!-- PAGE CONTAINER-->


    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="title-1 m-b-25">Overview</h2>
                        </div>
                    </div>
                </div>
                <div class="row m-t-25 p-l-25 p-r-25 d-flex align-items-center justify-content-center">   
                    {% if num_sites|length < 3 %}
                        {% for s in num_sites %}
                        <div class="col-sm-6 col-lg-4">
                            {% include 'app_overview.html' %}
                        </div>
                        {% endfor %} 
                    {% else %}
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto">
                            
                            {% for s in num_sites %}
                                <!-- get first in list and set to active for carousel to function -->
                                {% if forloop.counter0 == 0 %}                      
                                    <div class="carousel-item col-md-4 active">
                                        {% include 'app_overview.html' %}
                                    </div>
                                {% else %}
                                    <div class="carousel-item col-md-4 ">
                                        {% include 'app_overview.html' %}
                                    </div>
                                {% endif %}
                                
                            {% endfor %} 
                           
                        </div>   
                         
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <!-- <i class="fa fa-3x fa-wrench fa-gradient"></i> -->
                            <span class="fa fa-chevron-left fa-lg fa-gradient" aria-hidden="true"></span>
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true" ></span> -->
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right fa-lg fa-gradient" aria-hidden="true"></span>
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% endif %}
                        
                    
                </div>  
                
                <div class="row">
                    
                    <div class="col-lg-12 p-b-25">
                        <h2 class="title-1 m-b-25">User Log</h2>
                        
                        <div class="table-sorter-wrapper table-responsive table--no-card m-b-20">
                            <table id="sortable-table-1" class="tablesorter table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>User</th>
                                        <th>Actions</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr>
                                        <td>{{request.user.last_login}}</td>
                                        <td></td>
                                        <td>{{request.user.username}}</td>
                                        <td>Exported Data</td>
                                    </tr> -->
                                    <tr>
                                        <td>2017-09-28 </td>
                                        <td>01:22</td>
                                        <td>John</td>
                                        <td>Exported Data</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27</td>
                                        <td>03:20</td>
                                        <td>Jane</td>
                                        <td>Amended Profile Info</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-26</td>
                                        <td>11:12</td>
                                        <td>Jason</td>
                                        <td>Exported Data</td>
                                    </tr>
                                    <tr>
                                        <td>2019-09-25 </td>
                                        <td>19:03</td>
                                        <td>Jacob</td>
                                        <td>Amended Profile Info</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-26</td>
                                        <td>11:12</td>
                                        <td>Jason</td>
                                        <td>Exported Data</td>
                                    </tr>
                                    <tr>
                                        <td>2019-05-21 </td>
                                        <td>19:23</td>
                                        <td>Jahn</td>
                                        <td>Amended Profile Info</td>
                                    </tr>
                                    <tr>
                                        <td>2020-03-16</td>
                                        <td>14:17</td>
                                        <td>Jack</td>
                                        <td>Exported Data</td>
                                    </tr>
                                    <tr>
                                        <td>2016-09-15 </td>
                                        <td>19:05</td>
                                        <td>Janet</td>
                                        <td>Amended Profile Info</td>
                                    </tr>
                                    <tr>
                                        <td>2017-09-28 </td>
                                        <td>01:22</td>
                                        <td>John</td>
                                        <td>Exported Data</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27</td>
                                        <td>03:20</td>
                                        <td>Jane</td>
                                        <td>Amended Profile Info</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <!--<div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div> -->
                        </div>
                        
                    </div>
                </div> 
                <h2 class="title-1 m-b-25">Customer Support</h2>
                <div class="row m-t-25">
                    <!-- #1 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1 flex-justify-container">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <button type ="button" data-toggle="modal" data-target="#helpModal"><div class=support><h1>Help</h1><i class="fa fa-info-circle fa-4x" ></i></div></button>
                                <!-- modal help -->
                                <div class="modal" id="helpModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="helpModalLabel">Help Modal</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class = "row">
                                                    <div class = "col-sm-3">
                                                        <i class="fa fa-info-circle animated rotateIn d-flex justify-content-center"></i>
                                                    </div>
                                                    <div class ="col-sm-9">
                                                        <p>Please contact us if you need any help.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>                    
                    <!-- #2 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1 flex-justify-container">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <button type ="button" data-toggle="modal" data-target="#callModal"><div class=support><h1>Call Us</h1><i class="fa fa-phone fa-4x"></i></div></button></div>
                                    <!-- modal help -->
                                    <div class="modal" id="callModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="callModalLabel">Call Us Modal</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class = "row">
                                                        <div class = "col-sm-3">
                                                            <i class="fa fa-phone animated rotateIn d-flex justify-content-center"></i>
                                                        </div>
                                                        <div class ="col-sm-9">
                                                            <p>Call us at: 0131.....</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- #3 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1 flex-justify-container">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <button type ="button" data-toggle="modal" data-target="#ticketModal"><div class=support><h2>Open A Ticket</h2><i class="fa fa-exclamation-triangle fa-4x"></i></div></button></div>
                                    <!-- modal help -->
                                    <div class="modal" id="ticketModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="ticketModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ticketModalLabel">Open a ticket</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class = "row">
                                                        <div class = "col-sm-3">
                                                            <i class="fa fa-exclamation-triangle d-flex justify-content-center"></i>
                                                        </div>
                                                        <div class ="col-sm-9">
                                                            <form action="mailto:jenny.lin@crover.tech" method="GET" target="_blank">
                                                                <div class ="ticketform">
                                                                    <div class="field"><label class="label" for="subject">Subject: </label>
                                                                        <input name="subject" id="subject" type="text" class="input" value="Enter Subject"></div>
                                                                        <div class="field"><label class="label" for="body">Summary: </label>
                                                                        <textarea class="textarea" name="body" id="modaltext"maxlength="150">Report your problem here</textarea></div>
                                                                </div>
                                                                        
                                                                     <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                        <div><input type="submit" value="Submit ticket" class="btn btn-success"></div>
                                                                    </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>                    
                    <!-- #4 -->
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1 flex-justify-container">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <button type ="button" data-toggle="modal" data-target="#emailModal"><div class="support"><h1>Email Us</h1><i class="fa fa-envelope fa-4x"></i></div></button></div>
                                    <div class="modal" id="emailModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="emailModalLabel">Email Us</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class = "row">
                                                        <div class = "col-sm-3">
                                                            <i class="fa fa-envelope d-flex justify-content-center"></i>
                                                        </div>
                                                        <div class ="col-sm-9">
                                                            <p>Email us at: <a href="mailto:Jenny.Lin@crover.tech" target="_blank">Jenny.Lin@crover.tech</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>    
                    
                </div>   
                
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
 

<!-- end document-->

{% endblock content_nav %}