{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all"> 
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all"> 

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <!-- <a class="logo" href="app.html">
                            <img src="{% static 'images/crover.png' %}"  height="500" width="260" alt="Crover_logo"/>
                        </a> -->
                        <button class="hamburger hamburger--slider" style="right: 10000px" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/app">Site 1</a>
                                </li>
                                <li>
                                    <a href="/aoo">Site 2</a>
                                </li>
                                <li>
                                    <a href="/app">Site 3</a>
                                </li>
                                <li>
                                    <a href="/app">Site 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/graphs">
                                <i class="fas fa-chart-bar"></i>Graphs</a>
                        </li>
                        <li>
                            <a href="/profile">
                                <i class="fas fa-user"></i>Profile</a>
                        </li>
                        <li>
                            <a href="/user">
                                <i class="fas fa-cog"></i>Users</a>
                        </li>
                        <li>
                            <a href="/contact">
                                <i class="fas fa-id-card"></i>Contact Us</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Account</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/login">Login</a>
                                </li>
                                <li>
                                    <a href="/register">Register</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <!-- <a href="#">
                    <img src="{% static 'images/crover_logo.png' %}"  alt="Crover_logo"/>
                </a> -->
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <!-- <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="index.html">Site 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Site 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Site 3</a>
                                </li>
                            </ul>
                        </li> -->
                        <li>
                            <a href="/app">
                                <i class="fas fa-tachometer-alt"></i></a>
                        </li>
                        <li>
                            <a href="/graphs">
                                <i class="fas fa-chart-bar"></i></a>
                        </li>
                        <li>
                            <a href="/profile">
                                <i class="fas fa-user"></i></a>
                        </li>
                        <li>
                            <a href="/user">
                                <i class="fas fa-cog"></i></a>
                        </li>
                        <li>
                            <a href="/contact">
                                <i class="fas fa-id-card"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="logo-responsive" >
                                <a href="#">
                                    <img src="{% static 'images/crover.png' %}"  alt="Crover_logo"  height="400" width="200"/>
                                </a>
                            </div>
                            <form class="form-header flex-justify-container" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for specific data & reports" />
                                <button class="au-btn--submit" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                            <div class="header-button flex-justify-container " >
                                <div class="account-wrap ">
                                    <div class="clearfix js-item-menu ">
                                        <div class="content  ">
                                            <a class="js-acc-btn" href="#">{{request.user}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown" >
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <i class="fas fa-user fa-3x"></i>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{request.user}}</a>
                                                    </h5>
                                                    <span class="email">{{request.user}}@example.com </span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                               
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            {% block content_nav %}
            replace me <!--default-->
            {% endblock content_nav %}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            <!-- FOOTER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright" style="padding-bottom:20px">
                        <p><a href="https://www.crover.tech/">Crover ©</a></p>
                    </div>
                </div>
            </div>
            <!--END FOOTER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js'%}"></script>

    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js'%}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js'%}"></script>
    <script src="{% static 'vendor/wow/wow.min.js'%}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js'%}"> </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js'%}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js'%}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js'%}"></script>
    <script src="{% static 'vendor/select2/select2.min.js'%}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js'%}"></script>

</body>

</html>
<!-- end document-->
