{% extends 'base.html' %}
{% block content_nav %}
    <!-- <p>Name: {{ request.user }}</p>
    <br> -->

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Contact us</h2> 
                    </div>
                </div>
            </div> -->
            <div class="row m-t-25 ">
                <div class = "col-sm-6">
                    <div class="overview-wrap">
                        <h2 class="title-1">Contact us</h2> 
                    </div>
                    <div class = "contact-box p-l-30">
                        <div class = "text p-t-30 p-b-20">
                            <p>Get in touch with us if you have any queries.</p><br>
                            <h5>Connect with us:</h5> 
                        </div>
                        <div class = "connect-icons">
                            <a href="mailto:Jenny.Lin@crover.tech" target="_blank" class="email"><i class="fas fa-envelope-square fa-4x"></i><br><p>interns@crover.tech</p></a>

                            <a href="" class="call disabled"><i class="fa fa-phone fa-4x"></i><p>01310000000</p></a>
                            
                            <a href="#map-container-google" class="address"><i class="fas fa-map-marker-alt fa-4x"></i><p>Edinburgh,<br>United Kingdom</p></a>
                        </div>
                        <div class="text p-t-30 p-b-20">
                            <h5>Find us on:</h5>
                        </div> 
                        <div class = " social-icons ">
                        <a href="https://www.facebook.com/CroverTech/" target="_blank" class="facebook"><i class="fab fa-facebook fa-1x"></i></a>
                        <a href="https://twitter.com/Crover_Tech" target="_blank"class="twitter"><i class="fab fa-twitter-square fa-1x"></i></a>
                        <a href="https://www.linkedin.com/company/crover/" target="_blank" class="linkedin"><i class="fab fa-linkedin fa-1x"></i></a>
                        <a href="https://www.instagram.com/crover_tech/" target="_blank" class="instagram"><i class="fab fa-instagram fa-1x"></i></a>
                        <a href="https://www.crover.tech/" target="_blank" class="website"><i class="fas fa-link fa-1x"></i></a>
                        </div>                        
                        
                    </div>
                    


                </div>
                <div class="col-sm-6">
                    <section class="contact-wrap">
                        <form action="" class="contact-form">
                            <div class="row p-l-15 p-r-15 p-b-5">
                                <div class="col-sm-6">
                                    <div class="input-block">
                                    <label for="">First Name</label>
                                    <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-block">
                                    <label for="">Last Name</label>
                                    <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                            <div class="input-block">
                                <label for="">Email</label>
                                <input type="text" class="form-control">
                            </div>
                            </div>
                            <div class="col-sm-12">
                            <div class="input-block">
                                <label for="">Message Subject</label>
                                <input type="text" class="form-control">
                            </div>
                            </div>
                            <div class="col-sm-12">
                            <div class="input-block textarea">
                                <label for="">Drop your message here</label>
                                <textarea rows="3" type="text" class="form-control"></textarea>
                            </div>
                            </div>
                            <div class="col-sm-12">
                            <button class="square-button">Send</button>
                            </div>
                        </form>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="icon-bar">
                        <a href="#" class="facebook"><i class="fab fa-facebook fa-3x"></i></a>
                        <a href="#" class="twitter"><i class="fab fa-twitter-square fa-3x"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
                        <a href="#" class="email"><i class="fas fa-envelope-square fa-3x"></i></a>
                        <a href="#" class="call"><i class="fa fa-phone fa-3x"></i></a>
                        </div> -->
                </div>
            <div class="card">
                <!--Card content-->
            
                    <!--Google map-->
                    <div id="map-container-google" class="z-depth-1-half map-container" style="height: 390px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.5555091706524!2d-3.1906649842430146!3d55.92240718636582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c746e9104569%3A0xaf7eebbee0f74b05!2sCrover%20Ltd!5e0!3m2!1sen!2suk!4v1593470964827!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border-radius:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
            
                <!--/.Card content-->
            
                </div>
        </div>
    </div>

{% endblock content_nav %}

