{% extends 'base.html' %}

{% block content_nav %}      
{% load static %}

<head>
       <!-- Title Page-->
       <title>Dashboard</title>
</head>

<div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Overview</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row m-t-25 p-l-25 p-r-25 d-flex align-items-center justify-content-center">   
                    <h2>
                        Hi {{request.user}}!! You are not authorised to view this page. Please go back.
                    </h2>

                    
                </div>  
                

            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT--> 

<!-- end document-->

{% endblock content_nav %}