{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">User Profile </h2>                            
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center p-t-50">
                <div class="col-md-6 ">
                    <div class="card">

                        <div class="card-header">
                            <strong class="card-title mb-3">{{get_user.0}}'s Profile</strong>
                        </div>
                        <div class="card-body">
                            <div class="custom-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">{{get_user.0}}'s Profile</a>
                                        <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">Modify {{get_user.0}}'s Profile</a>
                                        <a class="nav-item nav-link" id="custom-nav-sites-tab" data-toggle="tab" href="#custom-nav-sites" role="tab" aria-controls="custom-nav-sites" aria-selected="false">{{get_user.0}}'s Sites</a>
                                        <a class="nav-item nav-link" id="custom-nav-units-tab" data-toggle="tab" href="#custom-nav-units" role="tab" aria-controls="custom-nav-units" aria-selected="false">{{get_user.0}}'s Units</a>
                                    </div>
                                </nav>
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                        <div class="mx-auto d-block">
                                            <div class="text-sm-center">

                                                <h1 class="mt-3 mb-2">{{get_user.0}}</h1>
                                                <p>Username: {{get_user.0.username}}</p>
                                                <p>First name: {{get_user.0.firstname}}</p>
                                                <p>Surname: {{get_user.0.surname}}</p>
                                                <p>Email: {{get_user.0.email}}</p>
                                                {% if get_user.0.is_superuser %}
                                                    <p>Group: Superuser</p>
                                                {% else %}
                                                    <p>Group(s): 
                                                        {% for u in get_user.0.groups.all %}
                                                            {{u.name}}
                                                        {% endfor %}
                                                    </p>
                                                
                                                {% endif %}
                                                <p>Storage Sites: ????</p>
                                                <p>Last login: {{get_user.0.last_login}}</p>
                                                <p>Date joined: {{get_user.0.date_joined}}</p>
                                                <p>Is active: {{get_user.0.is_active}}</p>
                                                <a href="#custom-nav-profile" class="button"><h5>Click Here to Modify</h5></a>

                                            </div>  
                                    
                                                <!-- <div class="location text-sm-center">
                                                    <i class="fa fa-map-marker"></i> U.K.</div> -->
                                            
                                        
                                            <!-- <div class="card-text text-sm-center">
                                                <a href="#">
                                                    <i class="fa fa-facebook pr-1"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-twitter pr-1"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-linkedin pr-1"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fa fa-pinterest pr-1"></i>
                                                </a>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                        <div class="text-sm-center">
                                            <h1 class="mt-3 mb-2">{{get_user.0}}</h1>
                                            <p>Username: {{get_user.0.username}}</p>
                                            <p>First name: {{get_user.0.firstname}}</p>
                                            <p>Surname: {{get_user.0.surname}}</p>
                                            <p>Email: {{get_user.0.email}}</p>
                                            {% if get_user.0.is_superuser %}
                                                <p>Group: Superuser</p>
                                            {% else %}
                                                <p>Group(s): 
                                                    {% for u in get_user.0.groups.all %}
                                                        {{u.name}}
                                                    {% endfor %}
                                                </p>
                                            
                                            {% endif %}
                                            <p>Storage Sites: ????</p>
                                            <p>Last login: {{get_user.0.last_login}}</p>
                                            <p>Date joined: {{get_user.0.date_joined}}</p>
                                            <p>Is active: {{get_user.0.is_active}}</p>
                                        </div>  
                                    </div>
                                    <div class="tab-pane fade" id="custom-nav-sites" role="tabpanel" aria-labelledby="custom-nav-sites-tab">
                                        <li><p>Site 1: ....</p></li>
                                        <li><p>Site 2: ....</p></li>
                                    </div>
                                    <div class="tab-pane fade" id="custom-nav-units" role="tabpanel" aria-labelledby="custom-nav-units-tab">
                                        <li><p>Unit 1: ....</p></li>
                                        <li><p>Unit 2: ....</p></li>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>      
    </div>
</div>
<!-- END MAIN CONTENT-->

<!-- END PAGE CONTAINER-->
{% endblock content_nav %}