{% load static %}
{% block content_overview %}

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script> 
<style>
 .tooltip-inner{
    max-width:310px;
    padding:3px 8px;
    color:#245973;
    text-align:center;
    background-color:white;
    border-radius:5px
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: white !important;
}
</style>
<div class="overview-item overview-item--c1">
    <div class="overview-box clearfix">
        <div class="text p-l-10">
            <h2>Overview</h2>
            <h4>Location: <span>{{location}}</span></h4>
            <h4>Total Capacity: <span>3820 tonnes</span></h4>

            <!-- <a href="#" class="" data-toggle="tooltip" data-placement="right"  style="margin-right: 0; margin-bottom: 10px; position: absolute; right: 60px; top:30px;"
            data-html="true" title="
            <div style='margin: 5px'>
                <h1 style='font-size: 15px;'>What does this mean?</h1>
                <div style='height: 50px'></div>
            </div>">
                    <i class="fas fa-info-circle" style="font-size: 45px; color:white"></i></button>
            </a> -->

        </div>
    
    </div>
    <div class="overview-chart">
        <div class = "row">
            <div class="col-md-3">
                <div class="capacity d-flex align-items-center justify-content-center">
                    <div class="text"><h1><br>Capacity</h1>
                        <div class="progress-circle"  data-value='80'>
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text"><h5>78<sup class="small">%</sup></h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition d-flex align-self-center justify-content-center">
                    <div class="text "><h1><br>Condition</h1>
                        <!-- <i class="far fa-smile " style="font-size: 80px; color:green"></i> -->
                        <!-- <i class="far fa-meh " style="font-size: 80px; color:orange"></i> -->
                        <i class="far fa-frown " style="font-size: 70px; color:red"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition">
                    <div class="text"><h1 class="text-center">Avg. Temp.</h1>
                        <div class=" d-flex align-self-center justify-content-center">
                            <div class="progress progress-bar-vertical">
                                <div class="progress-bar temp-prog-bar " role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="12" style="height: 50%;">
                                    <span>6°C</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="condition">
                    <div class="text"><h1 class="text-center">Avg. Moist.</h1>
                        <div class=" d-flex align-self-center justify-content-center">
                            <div class="progress progress-bar-vertical">
                                <div class="progress-bar moist-prog-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="14.5" style="height: 83%;">
                                    <span>12%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    
</div>


{% endblock content_overview %}