{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}
{% load plotly_dash %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- MAIN CONTENT-->
<div class="main-content" style="font-family: Verdana">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Site {{id}}</h2>
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <a href="/storage"><i class="fas fa-cog"></i></a>    
                                <button type="button"><i class="fas fa-download"></i></button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--ROW1-->
            <div class="row m-t-25">
                <!-- DETAILS-->
                <div class="col-sm-6 col-lg-6">
                    {% include 'site_overview.html' %}
                </div>
                <!--map-->
                <div class="col-sm-6 col-lg-6">

                    <!--Card-->
                    <div class="card-map">
                        <!--Card content-->
                
                        <!--Google map-->
                        <div id="map-container-google" class="z-depth-1-half map-container" style="height: 275px">
                            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.5555091706524!2d-3.1906649842430146!3d55.92240718636582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c746e9104569%3A0xaf7eebbee0f74b05!2sCrover%20Ltd!5e0!3m2!1sen!2suk!4v1593470964827!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border-radius:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1119.7939212398924!2d-1.8132054417350167!3d55.59741821058795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTXCsDM1JzUwLjciTiAxwrA0OCc0My42Ilc!5e1!3m2!1sen!2suk!4v1594728386274!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border-radius:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                
                        <!--/.Card content-->
                
                    </div>
                    <!--/.Card-->
                
                    </div>
            </div>
            <!-- END ROW1-->
            <!-- ROW2a-->
            <div class="row m-t-25">
                <div class="col-sm-12 col-lg-12">
                    <div class = "card csite">
                        <div class="card-header">
                            <strong class="card-title">Conditions Within Grain Store Units</strong>
                        </div>
                        <div class="card-body">
                            <div class="custom-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <!-- <a class="nav-item nav-link" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-plot1" role="tab" aria-controls="custom-nav-plot1" aria-selected="true">Plot 1</a> -->
                                        <!-- <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot2" role="tab" aria-controls="custom-nav-plot2" aria-selected="false">Scatter plot</a> -->
                                        <a class="nav-item nav-link " id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot3" role="tab" aria-controls="custom-nav-plot3" aria-selected="false" style="width:50%;text-align:center">Historical Trends</a>
                                        <a class="nav-item nav-link active" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot4" role="tab" aria-controls="custom-nav-plot4" aria-selected="false" style="width:50%;text-align:center">3D Maps</a>
                                        <!-- <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-plot5" role="tab" aria-controls="custom-nav-plot5" aria-selected="false">3D Map (mean)</a> -->
                                    </div>
                                </nav>
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent"  >
                                    
                                    <div class="tab-pane fade" id="custom-nav-plot3" role="tabpanel" aria-labelledby="custom-nav-plot3-tab">
                                        <div class="text-sm-center">
                                            <div class="(% plotly_class name='historical_trends'%)">
                                                {% plotly_app name="historical_trends" ratio=1%}
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="tab-pane fade show active" id="custom-nav-plot4" role="tabpanel" aria-labelledby="custom-nav-plot4-tab" >
                                            <div class="text-sm-center graph-container">
                                                <div class="(% plotly_class name='mt_heatmap'%)">
                                                    {% plotly_app name="mt_heatmap" ratio=1.6%}
                                                    </div>
                                                </div>
                                                
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!--END ROW2a--> 
            <!-- ROW2-->
            <div class="row">
                <div class="col-md-12">
                    
                    <!-- DATA TABLE -->
                    <div class="user-data">
                        <div class="au-card">
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <h2 class="title-4 m-b-35">Storage Site Units</h2>
                                </div>
                                <!-- <div class="table-data__tool-right">
                                    <div class="dropdown app_dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-filter"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <li class="dropdown-header">Sort by</li>
                                            <a class="dropdown-item" href="#">Temperature: Low to High</a>
                                            <a class="dropdown-item" href="#">Moisture: Low to High</a>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Filter by</li>
                                            <a class="dropdown-item" href="#">Condition: Safe</a>
                                            <a class="dropdown-item" href="#">Condition: Warning</a>
                                        </div>
                                    </div>
                                    <div class="dropdown app_dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export As
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">.PDF</a>
                                            <a class="dropdown-item" href="#">.txt</a>
                                            <a class="dropdown-item" href="#">.csv</a>
                                        </div>
                                    </div>
                                        
                                </div> -->
                            </div>
                            <div class="table-responsive table-data">
                                
                                <table id="sortable-table-1" class="tablesorter table">
                                    <thead>
                                        <tr>
                                            <th>   Storage unit</th>
                                            <th>   Grain</th>
                                            <th>   Avg. Temp. (°C) </th>
                                            <th>   Avg. Moist. (%)</th>
                                            <th>   Tonnes</th>
                                            <th>   Condition</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in unit_capacities %}
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td><a href="/storage">{{s.0}}</a></td>   
                                                <td class="desc">{{s.1}}</td>
                                                <td>{{s.2}}</td>
                                                <td>{{s.3}}</td>
                                                <td>{{s.4}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-{{s.5}}">
                                                        <i class="fa fa-{{s.6}}"></i>&nbsp; </button>
                                                </td>
                                            </tr>

                                        
                                        {% endfor %} 
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
            <!--END ROW2-->
            <!--ROW3-->
            <!-- <div class="row m-t-25 align-items-center justify-content-center">
                <div class="col-sm-6 col-lg-6 align-items-center justify-content-center">
                    <div class="overview-item overview-item--c2">

                        <div class="overview-box overview-details clearfix ">
                            <div class="text">
                                <form action="send_rock()">
                                    <h4>Send a message to Robot :
                                    <input type="text" name="robot_message">
                                    <input type="button" value="Submit" onclick="send_rock()"></h4>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--END ROW3-->
        </div>     
    </div>
</div>
<!--END MAIN CONTENT-->

<!-- END PAGE CONTAINER-->

<script>
function send_rock() {
    // var data = {"imei":"300434064019610","data":"48656c6c6f2043726f766572","username":"fengzhou.wang@crover.tech","password":"Crover2020"}
    var data = null;
    var xhttp = new XMLHttpRequest();
    xhttp.addEventListener("readystatechange", function () {
        if (this.readyState === this.DONE) {
            console.log(this.responseText);
            alert("button is clicked, data sent!");
        }
    });

    d= "43726f766572"
    data_url=("https://rockblock.rock7.com/rockblock/MT?imei=300434064019610&username=fengzhou.wang%40crover.tech&username=fengzhou.wang%40crover.tech&password=Crover2020&password=Crover2020&data=" + d)
    xhttp.open("POST", data_url);

    // xhttp.open("POST", "https://webhook.site/0c58ea9e-6279-4f86-abde-2e271831cf78");

    // xhttp.open("POST", "https://rockblock.rock7.com/rockblock/MT");
    xhttp.send(data);
}

// $(document).on('click', '#btnClick', function(){ 
//   alert("button is clicked");
// });
</script>
{% endblock content_nav %}