{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}

<head>
       <!-- Title Page-->
       <title>Manage user access</title>
</head>
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Manage users</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row m-t-25">
                <div class="col-md-12 p-r-50 p-l-50">
                    
                    <!-- USER DATA TABLE -->
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="fa fa-plus"></i>add user</button>
                            
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">.csv</option>
                                    <option value="">.pdf</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="table-sorter-wrapper table-responsive ">
                        <table id="sortable-table-1" class="tablesorter table table-data2">
                            <thead>
                                <tr>
                                    <!-- <th></th> -->
                                    <th class="sortStyle">ID<i class="fas fa-chevron-down"></i></th>
                                    <th class="sortStyle">Username</th>
                                    <th class="sortStyle">First name</th>
                                    <th class="sortStyle">Surname</th>
                                    <th class="sortStyle">Email</th>
                                    <th class="sortStyle">Group</th>
                                    <th class="sortStyle">Last Log-in</th>
                                    <th class="sortStyle">Active</th>
                                    <th class="sortStyle">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in get_all_users %}
                                <tr class="tr-shadow">
                                    <td>{{u.id}}</td>
                                    <td>{{u.username}}</td>
                                    <td>{{u.first_name}}</td>
                                    <td>{{u.last_name}}</td>
                                    <td>{{u.email}}</td>
                                    {% if u.is_superuser %}
                                        <td>Superuser</td>
                                    {% else %}
                                        <td>{% for u in u.groups.all %}
                                                {{u.name}}
                                            {% endfor %}
                                        </td>
                                    
                                    {% endif %}

                                    <td>{{u.last_login}}</td>
                                    <td>{{u.is_active}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success">
                                            <i class="fa fa-trash"></i>&nbsp; delete</button>
                                        <button type="button" class="btn btn-success">
                                            <i class="fa fa-align-justify"></i>&nbsp; modify</button>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- END USER DATA TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
{% endblock content_nav %}